# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log
